@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  direction: rtl;
}

.fc-timegrid-col-events * {
  transition: background-color 0.5s, border-color 0.5s;
}

html {
  font-size: 14px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

button {
  transition: transform 0.1s ease, filter 0.1s ease;
}

button:active {
  transform: scale(0.95);
  filter: brightness(0.97);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fc-non-business {
  background-image: linear-gradient(135deg, transparent 46%, #e5e5e5 49%, #e5e5e5 51%, transparent 55%) !important;
  background-color: #f2f2f2 !important;
  background-size: 8px 8px !important;
}

.fc-scroller {
  scrollbar-width: none !important;
}

.fc-day-today {
  background-color: #fff !important;
}

.fc-theme-standard .fc-scrollgrid {
  border-top: none !important;
}

.fc-timegrid-axis {
  height: 60px !important;
}

.calendar-container.animating {
  transition: transform 0.3s ease;
}

.fc tfoot {
  display: none;
}

.fc .fc-timegrid-slot-minor {
  border-top-color: #dddddd99;
}

.fc .fc-scrollgrid-section-sticky > * {
  z-index: 5;
}
